<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="title-area left">
      <li class="name"></li>
      <li>
        <a href="<%= root_path %>">Quantified Choices</a>
      </li>
    </ul>

    <div id="add_answer" class="small-button success">
      <ul>
        <li data-tooltip title="Use this button to add an option to the current choice">
          <%= link_to("Add an Answer", new_answer_path) %>
        </li>
      </ul>
    </div>


    <ul class="right">
      <li class="active"><%=link_to("Make a Choice", new_choice_path) %></li>
    </ul>
  </section>
</nav>
